---
import Layout from "@layouts/Layout.astro";
---

<Layout title="Welcome to Kapic Software.">
  <section class="w-screen flex justify-center">
    <section class="
    grid w-full gap-2 max-w-screen-xl
    grid-cols-4 mx-4
    sm:grid-cols-8 sm:mx-12
    xl:grid-cols-12 xl:mx-16
    ">
      <div class="bg-red-200 xl:col-span-3 py-4">Hi</div>
    </section>
  </section>
</Layout>
